body{
    margin: 0;
    padding: 0;
    background: #023F92;
    font-family: 'Railway', sans-serif;
}
#box{
    height: 350px;
    width:1000px;
    background: #051937;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
#main{
    height: 450px;
    width:480px;
    background: #0fbcf9;
    border-radius: 0px;
    position: absolute;
    top:50%;
    left:70%;
    transform:translate(-50%, -50%);
    z-index: 999;
    background: linear-gradient(-45deg, #ee7752, #e73c7e,#23a6d5,#23d5ab);
    background-size: 400%, 400%;
    animation: gradient 15s ease infinite;
}

#loginform, #signupform{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#signupform{
    top:45%;
    left:75%;
    visibility: hidden;
}
#loginform h1, #signupform h1{
    font-family:"Raleway" ,sans-serif;
    font-size: 25px;
    color:#051937;
}
#loginform input, #signupform input{
height: 40px;
width: 300px;
border:0;
outline: none;
border-bottom: 1px solid #051937;
margin: 5px;
background: none;
}
input::placeholder{
    color:#fff;
}

#loginform button, #signupform button{
    height:35px;
    width:130px;
    background-color: #051937;
    font-family: 'Railway' ,sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
    color:#fff;
}
#loginBtn, #signupBtn{
    height: 35px;
    width:120px;
    background: transparent;
    color:#0fbcf9;
    border:1px solid #0fbcf9;
    border-radius: 5px;
    outline: none;
    position:absolute;
    top:65%;
    left:75%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
}
#signupBtn{
    left:25%;
}
#loginBtn:hover, #signupBtn:hover{
   background-color: #023F92; 
   color: fff;
   cursor: pointer;
}
#loginmsg, #signupmsg{
    font-family: 'Raleway' , sans-serif;
    font-size: 25px;
    color:#0fbcf9;
    position: absolute;
    top:35%;
    left:75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signupmsg{
    left:25%;
}
/*animation effect*/
@keyframes gradient{
   0%{
    background-position: 0% 50%;
   } 
   50%{
    background-position: 100% 50%;
   } 
   100%{
    background-position: 0% 50%;
   } 
}
